<!DOCTYPE html>
<html>
<head>
    <title>BLOGS</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i id="menu-icon" class="code branch icon"></i>Blog Site</div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/blogs/new">New Post</a>
    </div>
</div>
